#holder {
  display: flex;
  justify-content: center;
}

#letter a:link {
  color: #dddddd;
  text-decoration: none;
}

#letter a:hover {
  color:black;
}

#form {
  margin-bottom: 50px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#letter {
  display: none;
  background-color: #aa3b64;
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  width: 800px;
  box-shadow: 10px 8px 8px #666666;
}

#letter:target{
  display:block;
}
