<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

            <div id="form">
            <label><h3>Please type your name here: </h3></label>
            <input [(ngModel)]="visitor.name">
            <br/>
            <br/>
            <a href='#letter'>Submit</a>
          </div>
          <div id="holder">
            <div id="letter">
              <h1>{{title}}</h1>
              <h3>Dear {{visitor.name}},</h3>
              <h3>Thank you for taking the time to speak with me and check out my applications. <br/>
                I built this little application using AngularJS, Javscript, HTML, & CSS to showcase <br/>
                my eagerness to continue developing my skills and gain experience in programming. <br/>
                I look forward to connecting again in the future! <br/>
                <br/>
                Please take a copy of my resume & business card!<br/>
                <br/>
                Best, <br/>
                Amanda Joan
              </h3>
                <br/>
                <br/>
                <a href="http://www.amandajoan.codes/" target="_blank">Click to Review my Portfolio</a> <br/>
                <a href="/">Reload Page</a>
                <br/>

            </div>





            </div>
</div>
